.basket-box{
  padding-top: 100px;
}

// 商品詳細ページ
.main-content{

.description {
  width: auto;
  padding:0 1em;
  background: #fffbf2;
  background-size: auto 2.5em;
  line-height: 2.5em;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-top: 100px;

  p{
    margin: 0;
  }


}

.explanation {
  width: auto;
  padding:0 1em;
  background:  #fffbf2;
  background-size: auto 2.5em;
  line-height: 2.5em;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-top: 30px;
  text-align: center;
  
  p{
    margin: 0;
  }
 }
}

//商品記事一覧ページ
.product.container{
  .title{
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .box{
    background-color: white;
    padding-bottom: 10px;
    
    .thumbnail{
      padding: 0;
      margin: 0;
    }

    .product-title{
      font-size: 18px;
      font-weight: bold;
      margin: 10px 10px;
      line-height: 20px;
    }
    .info{
      text-align: right;
      font-size: 10px;
      color: #999;
      padding-bottom: 8px;
      margin: 0 10px 0 10px;
      border-bottom: 1px solid #999;
      .name{
        font-size: 10px;
        margin-left: 170px;
      }
      .date{
        margin-left: 20px;
        margin-right: 10px;
      }
    }
    .explanation{
      margin: 10px 10px 0px 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #999;
    }
    .tag{
      text-align: right;
      margin: 10px 10px 0 10px;

    }
  }
}

// 記事投稿
.container{
  .sub-title{
    font-weight: bold;
  }
  .uk-htmleditor{
    margin-bottom: 30px;
  
  .uk-htmleditor-navbar{
    background: #33333329;
  }
 }
}





