// 新規登録画面
.container{
  // text-align: -webkit-center;
  .devise-box{
    background: #8080804f;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;

  
  .new-registration{
    text-align: center;
  }
  // input{
  //   width: 300px;
  //   height: 30px;
  // }
 }
}