// 新規登録画面
.container{
  .devise-box{
    background: #80808033;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    // margin-top: 100px;
    margin: 30px auto;
    text-align: center;


  
  .session-title{
    text-align: center;
  }
  .field{
    margin-bottom: 30px;

    .input-section{
      width: 300px;
      text-align: left;
    }
    .devise-input{
      width: 300px;
      height: 30px;
    }
  }
  .submit{
    width: 300px;
    // height: ;
  }
  .actions{
    margin-bottom: 26px;

  }
 }
}