
#new_product{

#product_name{
  height: 40px;
  width: 300px;
}
#product_price{
  height: 40px;
  width: 200px;
}

#product_explanation{
  height: 200px;
}
#product_description{
  height: 200px;
}
.new-button{
  margin-top: 50px;
}
}