%footer.footer-bs
  .row
    .col-md-3.footer-brand
      %h2 Bits of knowledge
      %p あなたの「知識」が誰かの「知らない」を無くす。
      %p 些細だと思っているあなたの知識が誰かを救うかも
    .col-md-4.footer-nav
      %h4 Menu
      .col-md-6
        %ul.pages
          %li
            %a{:href => "#"} ホーム
          %li
            %a{:href => "#"} 商品記事一覧
          %li
            %a{:href => "#"} 新規登録
          %li
            %a{:href => "#"} ログイン
      .col-md-6
        %ul.list
          %li
            %a{:href => "#"} About Us
          %li
            %a{:href => "#"} Contacts
          %li
            %a{:href => "#"} Terms  Condition
          %li
            %a{:href => "#"} Privacy Policy
    .col-md-2.footer-social
      %h4 Follow Us
      %ul
        %li
          %a{:href => "#"} Facebook
        %li
          %a{:href => "#"} Twitter
        %li
          %a{:href => "#"} Instagram
        %li
          %a{:href => "#"} RSS
    .col-md-3.footer-ns
      %h4 商品記事の検索
      %p 気になるキーワードを検索してみましょう
      %p
        .input-group
          = form_tag(search_products_path, :method => "get") do
            = text_field_tag :keyword, '',class:"search_field",placeholder:"キーワードを検索"
            = submit_tag "検索",class:"search_button"