%footer.footer-bs
  .row
    .col-md-3.footer-brand
      %h2 Bits　Of　Knowledge
      %p Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.
      %p &#xA9; 2014 BS3 UI Kit, All rights reserved
    .col-md-4.footer-nav
      %h4 Menu &#x2014;
      .col-md-6
        %ul.pages
          %li
            %a{:href => "#"} ホーム
          %li
            %a{:href => "#"} 商品記事一覧
          %li
            %a{:href => "#"} 新規登録
          %li
            %a{:href => "#"} ログイン
      .col-md-6
        %ul.list
          %li
            %a{:href => "#"} About Us
          %li
            %a{:href => "#"} Contacts
          %li
            %a{:href => "#"} Terms  Condition
          %li
            %a{:href => "#"} Privacy Policy
    .col-md-2.footer-social
      %h4 Follow Us
      %ul
        %li
          %a{:href => "#"} Facebook
        %li
          %a{:href => "#"} Twitter
        %li
          %a{:href => "#"} Instagram
        %li
          %a{:href => "#"} RSS
    .col-md-3.footer-ns
      %h4 商品記事の検索
      %p 気になるキーワードを検索してみましょう
      %p
        .input-group
          %input.form-control{:placeholder => "Search for...", :type => "text"}
            %span.input-group-btn
              %button.btn.btn-default{:type => "button"}
                %span.glyphicon.glyphicon-envelope
  %section{:style => "text-align:center; margin:10px auto;"}
    %p
      Designed by
      %a{:href => "http://enfoplus.net"} Prince J. Sargbah
